<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Estoque</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>📦 Gerenciador de Estoque</h1>

<h2>Cadastrar produto</h2>
<form action="/cadastrar" method="post">
    <input type="text" name="nome" placeholder="Produto" required>
    <input type="number" name="quantidade" placeholder="Quantidade" required>
    <button type="submit">Cadastrar</button>
    {% if mensagem_cadastro is defined and mensagem_cadastro %}
    <p>{{ mensagem_cadastro }}</p>
{% endif %}


</form>

<h2>Entrada de estoque</h2>
<form action="/entrada" method="post">
    <input type="text" name="nome" placeholder="Produto" required>
    <input type="number" name="quantidade" placeholder="Quantidade" required>
    <button type="submit">Entrada</button>
    {% if mensagem_entrada is defined and mensagem_entrada %}
    <p>{{ mensagem_entrada }}</p>
{% endif %}

</form>

<h2>Saída de estoque</h2>
<form action="/saida" method="post">
    <input type="text" name="nome" placeholder="Produto" required>
    <input type="number" name="quantidade" placeholder="Quantidade" required>
    <button type="submit">Saída</button>
    {% if mensagem_saida is defined and mensagem_saida %}
    <p>{{ mensagem_saida }}</p>
{% endif %}

</form>

<h2>Produtos em estoque</h2>
<ul style="padding:0; list-style:none;">
{% for produto in produtos %}
    <li style="padding:6px 0;">
        <div style="
            display:inline-flex;
            align-items:center;
            gap:12px;
            padding-bottom:6px;
            border-bottom:1px solid #ccc;
        ">
            <span>
                <strong>{{ produto.nome }}</strong> — {{ produto.quantidade }}
            </span>

            <form action="/excluir" method="POST" style="margin:0;">
                <input type="hidden" name="nome" value="{{ produto.nome }}">
                <button
                    type="submit"
                    style="font-size:12px; padding:4px 8px;"
                >
                    Excluir
                </button>
            </form>
        </div>
    </li>
{% endfor %}
</ul>

{% if mensagem_exclusao %}
    <p>{{ mensagem_exclusao }}</p>
{% endif %}

</body>
</html>
